@model UserContext
@{
    ViewBag.Title = "User";
    var message = TempData["Message"] as string;
}

<h2>Link</h2>

@if (!Model.IsLinked)
{
    if (Model.IsLocalAccount)
    {
        <div class="form-horizontal">
            <h4>Link to your Office 365 account</h4>
            <hr />
            @using (Html.BeginForm("LoginO365", null, FormMethod.Post, null))
            {
                <p>If you have an Office 365 account, please click the button below to login and link it.</p>
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                <p><input type="submit" value="Login" class="btn btn-primary" /></p>
                <p>Otherwise, please ask your tenant admin to create one for you.</p>
            }
        </div>
    }
    else
    {
        <div class="form-horizontal">
            <h4>Link to your local account</h4>
            <hr />
            <p>If you have a local account, please log in with it:</p>
            <p>@Html.ActionLink("Login with local account", "LoginLocal", null, new { @class = "btn btn-primary" })</p>
            <br />
            <p>Other, please create one by clicking the button below:</p>
            <p>@Html.ActionLink("Create local account", "CreateLocalAccount", null, new { @class = "btn btn-primary" })</p>
        </div>
    }
}
else
{
    <div>
        <p>Your local account and Office 365 account are now linked.</p>
        <p>
            <ul>
                <li>Local account: @Model.User.Email</li>
                <li>Office 365 account: @Model.User.O365Email</li>
            </ul>
        </p>
        <p>@Html.ActionLink("Return to home", "Index", "Home", null, new { @class = "btn btn-default" })</p>
    </div>
}

@helper LocalLoginForm()
{
}