@model SectionDetailsViewModel
@{
    ViewBag.Title = "CLASS DETAILS";
    var teachersList = Model.Section.Teachers.ToList();
}
<div class="row schools">
    <div class="tophero">
        <div class="container">
            <div class="col-md-6 secondnav">
                <a href="/schools"> All Schools</a>
                > @Html.ActionLink(Model.School.Name, "Classes", null, new { schoolId = Model.School.ObjectId }, null)
                > @Model.Section.CourseName
            </div>
        </div>
        <div class="container">
            <div class="a-heading ">
                Class DETAILS
            </div>
            <div class="b-title">
                @Model.Section.CourseNumber | @Model.Section.DisplayName
            </div>
        </div>
        <div class="container coursedetail">

            <div class="col-md-6">
                <b>Course Name:</b> @Model.Section.CourseName
                <br />
                <b>Description:</b> @Model.Section.CourseDescription
                <br />
                <b>Period:</b> @Model.Section.Period
                <br />
                <b>Term Name:</b> @Model.Section.TermName
                <br />
                <b>Start/Finish Date:</b>@Convert.ToDateTime(Model.Section.TermStartDate).ToString("MMMM y") - @Convert.ToDateTime(Model.Section.TermEndDate).ToString("MMMM y")
            </div>
            <div class="col-md-6">
                @for (var i = 0; i < teachersList.Count(); i++)
                {
                    <b>Teacher:</b> @teachersList[i].DisplayName
                    if (i < teachersList.Count() - 1)
                    {
                        <br/>
                    }
                }
            </div>
        </div>
        <div style="clear:both;" />
    </div>
    <div class="students">

        <div class="col-md-6 ignore">
            <dvi class="coursename b-title">
                Student Conversation(s)
            </dvi>
            <table class="table  table-green ">
                <tr class="table-green-header">
                    <th class="tdleft">
                        student name
                    </th>
                    <th>
                        grade
                    </th>
                    <th>
                        conversations(s)
                    </th>

                </tr>
                @foreach (var stu in Model.Section.Students)
                {
                    <tr class="tr-content">
                        <td>@stu.DisplayName</td>
                        <td>@stu.EducationGrade</td>
                        <td>a link here.</td>

                    </tr>
                }


            </table>


        </div>

        <div class="col-md-6 ignore">
            <dvi class="coursename b-title">
                Reading Links
            </dvi>
            <table class="table  table-green">
                <tr class="table-green-header">
                    <th class="tdleft">
                        reading list
                    </th>
                    <th>
                       due date
                    </th>
                    <th>
                        download links
                    </th>

                </tr>
                @foreach (var stu in Model.Section.Students)
                {
                    <tr class="tr-content">
                        <td><a>@stu.DisplayName</a></td>
                        <td>@stu.EducationGrade</td>
                        <td>a link here.</td>

                    </tr>
                }


            </table>


        </div>

        <ul class="nav nav-tabs">
            <li  class="active"><a data-toggle="tab" href="#students">Students</a></li>
            <li><a data-toggle="tab" href="#documents">Class Documents</a></li>
            <li><a data-toggle="tab" href="#conversations">Conversations</a></li>
            <li class="greentab"><a data-toggle="tab" href="#seatingchart"><span>SEATING CHART</span></a></li>
        </ul>
        <div class="tab-content">
            <div id="students" class="tab-pane fade in active">
                <table class="table  table-green table-studnet">
                    <tr class="table-green-header">
                        <th class="tdleft">
                            student name
                        </th>
                        <th>
                            grade
                        </th>
                    </tr>
                    @foreach (var stu in Model.Section.Students)
                    {
                        <tr class="tr-content">
                            <td>@stu.DisplayName </td>
                            <td>@stu.EducationGrade</td>
                        </tr>
                    }
                </table>
            </div>
            <div id="documents" class="tab-pane fade">
                <table class="table  table-green table-studnet">
                    <tr class="table-green-header">
                        <th class="tdleft">
                            document name
                        </th>
                    </tr>
                    @foreach (var doc in Model.DriveItems)
                    {
                        <tr class="tr-content">
                            <td><a target="_blank"  href="@doc.WebUrl">@doc.Name</a></td>
                        </tr>
                    }
                </table>
                <span class="see-more"><a href="@Model.SeeMoreFilesUrl">See More</a></span>
            </div>
            <div id="conversations" class="tab-pane fade">
                <table class="table  table-green table-studnet">
                    <tr class="table-green-header">
                        <th class="tdleft">
                           topic
                        </th>
                    </tr>
                @foreach (var con in Model.Conversations)
                {
                    <tr class="tr-content">
                        <td><a target="_blank" href="@string.Format("{0}/mail&exsvurl=1&ispopout=0&ConvID={1}",Model.SeeMoreConversationsUrl,Uri.EscapeDataString(con.Id).Replace("_","%2B")) ">@con.Topic</a></td>
                    </tr>
                }
                </table>
                <span class="see-more"><a target="_blank"  href="@Model.SeeMoreConversationsUrl">See More</a></span>
            </div>

            <div id="seatingchart"  class="tab-pane fade ">
                <div class="left" id="dvleft">
                   
                        @if (!Model.IsStudent)
                        {
                            <div class="tip"> To assign seats for each student, drag and drop student profile icons below onto the seating map to the right.</div>
                        }
                        else
                        {
                            var style =string.Format( "background-color:{0}",Model.MyFavoriteColor);
                            <div class="assignseat tip"><div class="greenicon" style="@style"></div>Your assigned seat </div>
                        }
                   
                    <ul id="lstproducts">
                        @foreach (var stu in Model.Section.Students)
                        {
                            <li id="@stu.O365UserId" ><img src="@Url.Action("UserPhoto", "Photo", new { id = stu.O365UserId })" /> <span class="disname"> @stu.DisplayName </span> <span class="seated hideitem">seated ✓</span> </li>
                        }
                    </ul>
                        <div id="hidtiles" class="hideitem">
                        @foreach (var stu in Model.Section.Students)
                        {
                            var containerClass = "";
                            var style = "";
                            if (stu.Position !=0)
                            {
                                containerClass = "white";
                                if (Model.O365UserId == stu.O365UserId)
                                {
                                    containerClass = "green";
                                    style = string.Format("background-color:{0}", Model.MyFavoriteColor);
                                }
                            }
                            <div class="deskcontainer @containerClass" style="@style" position="@stu.Position" userid="@stu.O365UserId">
                                <div class="deskclose" ><img src="/Images/close.png"></div>
                                <div class="deskicon">
                                    <img src="@Url.Action("UserPhoto", "Photo", new { id = stu.O365UserId })" />
                                </div>
                                <div class="stuname">
                                    @stu.DisplayName
                                </div>
                            </div>
                        }
                        </div>
                </div>
                <div class="right" id="dvright">
             
                        <div class="teacherdesk">
                            Teacher's desk
                        </div>
                  
                    <div>
                        <div id="graybg">
                            @for (var i = 1; i <= 36; i++)
                            {
                                <div class="desktile" position="@i">
                                </div>
                            }
                        </div>
                    </div>
                </div>
                <div id="dvedit" class="dvedit">
                   @if (!Model.IsStudent)
                   {
                    <img id="imgedit" src="~/Images/edit.png" />
                    <img id="imgsave" src="~/Images/save.png" />
                    <img id="imgcancel" src="~/Images/cancel.png" />
                   }
                   
                </div >
                <br style = "clear:both" />
             </div >
         </div >


     </div >
 </div>
<input type="hidden" name="hidSectionid" id="hidSectionid" value="@Model.Section.ObjectId"/>
@*<div id="saveResult"><div>Seating map changes saved.</div></div>*@
@Scripts.Render("~/bundles/classdetail")
