@model SchoolsViewModel
@{
    ViewBag.Title = "ALL SCHOOLS";
}
@if (Model.AreAccountsLinked)
{

    <div class="row schools">
        <div class="tophero">
            <div class="col-md-6">
                <div class="a-heading schoolname">
                    ALL SCHOOLS
                </div>
            </div>
            <div class="col-md-6 schooltiles">
                @if (!string.IsNullOrEmpty(Model.UserId))
                {

          
                <div class="infocontainer">

                    <div class="infoheader">
                        @if (Model.IsStudent)
                        {
                            @Html.Raw("Student")
                        }
                        else
                        {
                            @Html.Raw("Teacher")
                        }
                        Id
                    </div>
                    <div class="infobody">
                        @Model.UserId
                    </div>
                </div>

                }
            </div>

                <div class="container myschool">
                    <div class="schoolenrolled">
                        Current school(s) enrolled
                    </div>
                    <div class="greenicon"></div>
                </div>

            <div style="clear:both;" />
        </div>

        <table class="table  table-green table-schools">
            <tr class="table-green-header">
                <th></th>
                <th class="tdleft">
                    School Name
                </th>
                <th>
                    Principal
                </th>
                <th>
                    Grade Levels
                </th>
                <th>
                    Address
                </th>
            
            </tr>
            @foreach (var school in Model.Schools)
        {
            var style = "";
            if (Model.MySchoolId == school.SchoolId)
            {
                style = "td-green";
            }
            <tr class="tr-content">
                <td class="@style"></td>
                <td >@Html.ActionLink(school.Name, "Classes", null, new { schoolId = school.ObjectId  }, null)</td>
                <td>@school.PrincipalName</td>
                <td>@school.LowestGrade - @school.HighestGrade</td>
                <td>
                    <div class="schooladdress">
                        @school.Address
                        <br />
                        @school.City, @school.State @school.Zip
                    </div>
                    <div class="schoolmap">
                        @if (!string.IsNullOrEmpty(school.Latitude) && !string.IsNullOrEmpty(school.Longitude))
                        {
                            <a class="bingMapLink" lat="@school.Latitude" lon="@school.Longitude" href="javascript:void(0)"><img src="~/Images/bing.png" /></a>
                        }
                    </div>
                </td>   
            </tr>
        }
        </table>
    </div>
    <div id='myMap' ></div>
    <input type="hidden" name="BingMapKey" id="BingMapKey" value="@Model.BingMapKey" />
    <script type='text/javascript' src='https://www.bing.com/api/maps/mapcontrol' async defer></script>
    @Scripts.Render("~/bundles/section")
}
else
{
    <br/>
<p>
    You will need to link your O365 and local accounts in order to use the functionality of this demo application. Please click on the browser 'Back' button to go back and link your existing local account or create a local account.
</p>
}