@using Microsoft.Education.Data
@model SectionsViewModel
@{
    ViewBag.Title = "Section";
    var isMySections = (bool?)ViewBag.IsMySections == true;
}
<div class="row schools">
    <div class="tophero">
        <div class="container">
            <div class="col-md-6 secondnav">
                <a href="/schools"> All Schools</a> > @Model.School.Name
            </div>
            <div class="col-md-6 displayname">
                @Model.School.Name
            </div>
        </div>
        <div class="container">
            <div class="col-md-6 a-heading ">
                Classes
            </div>
            <div class="col-md-6 ">
                <div class="infocontainer">
                    <div class="infoheader">
                        Address
                    </div>
                    <div class="infobody">
                        @Model.School.Address
                    </div>
                </div>


                <div class="infocontainer">

                    <div class="infoheader">
                        PRINCIPAL
                    </div>
                    <div class="infobody">
                        @Model.School.PrincipalName
                    </div>
                </div>

                <div class="infocontainer">
                    <div class="infoheader">
                        Grade level
                    </div>
                    <div class="infobody">
                        @Model.School.LowestGrade - @Model.School.HighestGrade
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="col-md-6 sectionschoolname">
                
            </div>
            <div class="col-md-6 mysection section-link-container">
                VIEW:
                @Html.ActionLink("My Classes", "MySections", null, new { schoolId = Model.School.ObjectId }, new { @class = isMySections ? "current" : "" }) |
                @Html.ActionLink("All Classes", "Sections", null, new { schoolId = Model.School.ObjectId }, new { @class = isMySections ? "" : "current" })
            </div>
        </div>
        <div style="clear:both;" />
    </div>
    <table class="table table-green ignore">
        <tr class="table-green-header">
            <th>
                Course Name
            </th>
            <th>
                Course Number
            </th>
            <th>
                Description
            </th>
            <th>
                Status
            </th>
            <th>Teacher</th>
        </tr>

        @foreach (var s in Model.Sections)
        {
            <tr class="tr-content">
                <td>
                    @Html.ActionLink(s.DisplayName, "SectionDetails", null, new { schoolId = Model.School.ObjectId, sectionId = s.ObjectId }, null)
                </td>
                <td>
                    @s.CourseNumber
                </td>
                <td>@s.CourseDescription </td>
                <td>@s.EducationStatus</td>
                <td>

                    @foreach (var teacher in s.Teachers)
                    {
                        <div>@teacher.DisplayName</div>
                    }
                </td>

            </tr>
        }

    </table>
    <hr class="hr-green" />
    <div class="section-tiles">
        @foreach (var s in Model.Sections)
        {
            <div class="tile-container">
                @if (Model.IsMy(s))
                {
                    <a href="@Url.Action("SectionDetails", new { schoolId = Model.School.ObjectId, sectionId = s.ObjectId })">
                        @Tile(s)
                    </a>
                }
                else
                {
                    @Tile(s)
                }
                <div class="detail">
                    <h5>Description:</h5>
                    <h6>@s.CourseDescription</h6>
                    <h5>Teachers:</h5>
                    @foreach (var teacher in s.Teachers)
                    {
                        <h6>@teacher.DisplayName</h6>
                    }
                    <h5>Term Name:</h5>
                    <h6>
                        @s.TermName
                    </h6>
                    <h5>Start/Finish Date:</h5>
                    
                    <h6>
                        @Convert.ToDateTime(s.TermStartDate).ToString("MMMM y")
                     - 
                        @Convert.ToDateTime(s.TermEndDate).ToString("MMMM y")
                    </h6>
                    <h5>Period:</h5>
                    <h6>@s.Period</h6>
                </div>
            </div>
        }
    </div>
</div>
@helper Tile(Section section)
{
    <div class="tile">
        <h5>@(section.DisplayName)</h5>
        <h2>@(section.CombinedCourseNumber)</h2>
    </div>
}
@Scripts.Render("~/bundles/section")
